{% extends "datatable_layout.html" %}

{% block title %} {{title}}  {% endblock title %}
{% block header %} {{header}}  {% endblock header %}

{% block content %} 

<p>
   <body>
      The graph displays the entire performance of a company over the years.
      <br/>
      <img src = "{{url_for('static', filename = 'photo/graph.png')}}" alt="Current Rates Graph" class = "center">
   </body>
   <br/>
   <br/>
   <h2> Monthly Rates Graph </h2>
   The graph displays the last 12 months of data for a company.
   <br/>
   <img src = "{{url_for('static', filename = 'photo/graph_monthly.png')}}" alt="Monthly Rates Graph" class = "center">
   <h2> Monthly Rates Table </h2>
   <div> The table displays the last 12 months of data for a company. It shows the highest amount of money a company reached in a 
      day as well as the price a stock reached at the end of the day. </div>
   <div> The darker the pieces of a table are, the higher the dollar amount a company reached. </div>
   <br/>
   <img src = "{{url_for('static', filename = 'photo/monthly_rate_table.png')}}" alt="Monthly Rates Table" class = "center">
   <br/>
   <br/>
   <h2> Weekly Rates Graph </h2>
   The graph displays the last 10 weeks of data for a company.
   <br/>
   <img src = "{{url_for('static', filename = 'photo/graph_weekly.png')}}" alt="Weekly Rates Graph" class = "center" height ="600" width = "300">
   <h2> Weekly Rates Table </h2>
   <div> The table displays the last 10 weeks of data for a company. It shows the highest amount of money a company reached in a 
      day as well as the price a stock reached at the end of the day. </div>
   <div> The darker the pieces of a table are, the higher the dollar amount a company reached. </div>
   <br/>
   <img src = "{{url_for('static', filename = 'photo/weekly_rate_table.png')}}" alt="Weekly Rates Table" class = "center">
   <br/>
   <br/>
   <h2> Daily Rates Graph </h2>
   The graph displays the last 15 days of data for a company.
   <br/>
   <img src = "{{url_for('static', filename = 'photo/graph_daily.png')}}" alt="Daily Rates Graph" class = "center" height ="600" width = "300">
   <h2> Daily Rates Table </h2>
   <div> The table displays the last 15 days of data for a company. It shows the highest amount of money a company reached at the end of the day. </div>
   <div> The darker the pieces of the table are, the higher the amount a company reached. </div>
   <br/>
   <img src = "{{url_for('static', filename = 'photo/daily_rate_table.png')}}" alt="Daily Rates Table" class = "center">
</p>
{% endblock content %}