{% extends "datatable_layout.html" %}

{% block title %} {{title}}  {% endblock title %}
{% block header %} {{header}}  {% endblock header %}

{% block content %} 
   <p>
      <h2>Welcome to the help page!</h2>
      <br/>
      This page serves as a way to help provide information to new users.
      <br/>
      If you are planning to invest, only invest an amount that you are willing to lose. Generally, it is less risky to invest in ETFs
      as it is a bundle of stocks. If one stock goes down in price, it will not affect you as much as it would if you invested into a singular stock.
      <br/>
      <br/> <br/>
      <h3>Lingo:</h3>
      A <b>dividend</b> is the amount of money investors earn when the company they are investiing in earns a profit.
      A certain amount of the profit earned by the company is given to shareholders as a dividend,
      and any amount that has not been distributed is used for the business to reinvest in itself. <br/>
      Ordinary dividends are taxed at ordinary income tax rates. <br/>
      <br/>
      A person may choose to purchase <b>ETFs exchange-traded funds</b> instead of purchasing the stocks
      of a specific company. An ETF is like a bundle of similar companies a person can choose to invest in,
      rather than investing in a singular company. In a way, ETFs can offer more security for the investor,
      but may result in a lower reward.
      <br/><br/>
      <b>Capital Gains:</b>
      <ul>Short term: they are usually taxed as ordinary income tax rates 10%, 12%, 22%, 24%, 32%, 35%, or 37%</ul>
      <ul>Long term: they are the profits from selling assets owned for more than a year. They are usually taxes at lower long term gain tax rates (0%, 15%, or 20%)</ul>
      <br/>
      <b>Interest Income:</b>
      <ul>Most of our interest income is taxed at ordinary income rates. Interest may be exempt from federal taxes including
         municipal bond interest, private activity bonds, and exempt-interest dividends.
      </ul>
      <br/>
      <b>Tax Filing/Capital Gains Rates:</b>
      <ul>2022:<ul>Single: 0% - 0 to 41,675        15% - 41,676 to 459,750       20% - 459,751 or more
      </ul></ul>
      <ul>2023:<ul>Single: 0% - 0 to 44,625        15% - 44,626 to 492,300       20% - 492,301 or more</ul></ul>
   </p>

{% endblock content %}